body
  counter-reset: chapter table figure footnote list ref

@page
  counter-increment: toc p

  &:first
    counter-reset: toc -1 p -3

//
// chapter, section, subsection
//
h1
  counter-reset: section table figure
  counter-increment: chapter

  &::before
    content: "第 " counter(chapter) " 章"

.h1::after
  content: target-counter(attr(href), chapter) " 章"

h2
  counter-reset: subsection
  counter-increment: section

  &::before
    content: counter(chapter) "." counter(section)

.h2::after
  content: target-counter(attr(href), chapter) "." target-counter(attr(href), section) " 節"

h3
  counter-increment: subsection

  &::before
    content: counter(chapter) "." counter(section) "." counter(subsection)

.h3::after
  content: target-counter(attr(href), chapter) "." target-counter(attr(href), section)  "." target-counter(attr(href), subsection) " 項"

//
// table
//
table caption, .caption
  counter-increment: table

  &::before
    content: "表 " counter(chapter) "." counter(table)

.table::after
  content: "表 " target-counter(attr(href), chapter) "." target-counter(attr(href), table) " "

//
// figure
//
figure figcaption, .figcaption
  counter-increment: figure

  &::before
    content: "図 " counter(chapter) "." counter(figure)

.figure::after
  content: "図 " target-counter(attr(href), chapter) "." target-counter(attr(href), figure) " "

//
// footnote
//
span.footnote
  counter-increment: footnote

  &::footnote-call
    content: "*" counter(footnote)

  &::footnote-marker
    content: "*" counter(footnote)

//
// ref
//
ol.reference
  li
    counter-increment: ref

    &:before
      content: "[" counter(ref) "] "

.ref::after
  content: "[" target-counter(attr(href), ref) "]"

//
// list
//
ol.number
  li
    counter-increment: list

    &:before
      content: "(" counter(list) ")"

//
// 目次
//
nav.toc
  a::after
    content: target-counter(attr(href), p)

  > ol // chapterレベル
    a::before
      content: "第 " target-counter(attr(href), chapter) " 章"

    a.nocounter ::before
      content: ""

    > li ol
      a::before // sectionレベル
        content: target-counter(attr(href), chapter) "." target-counter(attr(href), section)

      > li ol
        a::before // subsectionレベル
          content: target-counter(attr(href), chapter) "." target-counter(attr(href), section) "." target-counter(attr(href), subsection)

//
// カウントキャンセル
//
.nocounter
  counter-increment: none
