html
  head
    link(href='main.css' rel='stylesheet')
  body
    h1
      | 言語処理 100 本ノックと日本語文章からの性格推定
      .author 指導教員 : 奥村 紀之　発表者 : E1437 山下 紗苗

    .column2
      h2 はじめに
      p 本授業ではデータ処理に関する基礎学習を行い，並行して自然言語処理分野ではどのような研究がなされているのかを調査した．
      p 2 節ではデータ処理に関する基礎学習について，3 節では研究内容について，4 節 では 3 節で述べた研究に関する今後の課題についてを述べる．

      h2 データ処理に関する基礎学習
      p 本授業では，言語処理 100 本ノックの解答とそのコードレビューを実施した．

      h3 言語処理 100 本ノック
      p
        | 言語処理 100 本ノック
        //- span.footnote http://www.cl.ecei.tohoku.ac.jp/nlp100/
        | は東北大学の乾・岡崎研究室が Web 上に公開している，プログラミングやデータ分析に関する問題集である．形態素解析器 MeCab
        //- span.footnote http://taku910.github.io/mecab/
        | や 係り受け解析器 CaboCha
        //- span.footnote http://taku910.github.io/cabocha/
        | を用いた自然言語処理の他にも，データベースを用いた集計，Web アプリケーションの作成，機械学習によるテキストの分類など，実用的なスキルを幅広く習得できるようになっている．
      p 問題は 1 章につき 10 問，計 10 章あり，現在は 8 章までの解答とコードレビューを達成している．

      h3 Ruby によるデータ処理
      p 自然言語処理や機械学習では，豊富なライブラリと実用に耐えうる処理速度から，一般的に Python が用いられる．しかし，Python にあって他言語にないライブラリを使用したいこともある．例えば既存のアプリケーション内で上記のようなデータ処理を行いたい場合，アプリケーションとデータ処理システムがそれぞれ異なる言語で書かれていると，言語を越えてデータをやり取りする必要があるため実装が複雑になる．
      p
        | PyCall
        //- span.footnote https://github.com/mrkn/pycall.rb/
        | は Ruby から Python (2 系) を直接呼び出す Ruby のライブラリであり，上記の実装の問題を解決できる．PyCall は現在まだ開発段階にあるため，どの程度実用的であるか調査を行った．

      h4 処理速度
      p
        | まず処理速度を調査するため，以下の 2 つの条件で Ruby (PyCall) プログラムと Python プログラムのベンチマークをとった．
        ol
          li Python 関数 math.sin() を呼び出し，sin(π) を 1,000 万回求める
          li  Python ライブラリ NumPy*5 を用いて，2 つの 10,000 × 10,000 行列（各要素はランダムな整数）について行列積を求める
      p その結果，sin 計算における PyCall の時間に関するオーバーヘッドは大きいが，行列計算の場合は気にする必要がないことが分かった [表 1]．これは PyCall が Python オブジェクトのポインタに対してのみ Ruby オブジェクトを生成し，NumPy のオブジェクトはそのまま使われるからである．
      figure
        table
          caption ベンチマーク
          tr.header
            td
            td Ruby (PyCall)
            td Python
          tr
            td 1. sin 計算
            td.right 9.33 [s]
            td.right 2.59 [s]
          tr
            td 2. 行列計算
            td.right 66.44 [s]
            td.right 66.26 [s]

      h4 Python ライブラリの使用
      p 次に既存の Python ライブラリを PyCall 経由でどこまで不自由なく使えるか調査するため，言語処理 100 本ノックを PyCall を用いて Ruby で解くことにした．結果，Ruby でも Matplotlib*6 を用いたグラフの作成や scikit-learn を用いた機械学習などを実際に行うことができた．
      p 一方で実装の際，使用した Python ライブラリの関数が返す型を Ruby でそのまま使えず，一部手動で変換する必要があるなど，注意すべき点も明らかになった．例えば scikit-learn の関数 predict proba() は Numpy の Array 型を返すが，これを Ruby の Array クラスのオブジェクトとして用いる場合，predict proba().tolist.to a のように Array (Numpy) から list (Python) 、list から Array (Ruby) へと型変換を行う必要があった．

      h2 研究内容
      p 「日本語文章からの性格推定と性格コピー bot の開発」を卒業研究のテーマとし，文章から感情・性格を推定する手法について調査を進めている．

      h3 心象判断メカニズム
      p
        | 斎藤らの研究では，話者が抱いている感情を判断する心情判断メカニズムが構築されている．これは，入力文を分解して，主体語・目的語・動作語にカテゴリ分けし，組み合わせることで感情を推定するものである．主体語カテゴリについて，人に類する語には精神的・感覚的・社会的の 3 つの尺度が付与されている．感情は以下の 10 種類で推定される．
        ul
          li 快感情 2 種（喜び，安心）
          li 不快感情 7 種（怒り，恐れ，落胆，悲しみ，罪悪感，恥，後悔）
          li 感情なし
      p 斎藤らによる，入力文からの話者感情判断システムの正解率は 55.88 % である．

      h3 性格尺度
      p 人間の性格は「明るい」「真面目」など様々な言葉によって表現されるが，これらは全て定性的なものであり比較ができない．そこで，性格を複数の要素に分け数値で表現した性格尺度が用いられる．これにより，性格の定量的な比較や集計が可能になる．
      p
        | 性格尺度の 1 つに，Clark と Watson らによる Big Three がある．これは性格を
        ul
          li Positive Temperament ―― 外向性
          li Negative Temperament ―― 神経質
          li Disinhibition ―― 脱抑制
        | の 3 要素に分類したものである．

      h3 表層心理推定システム
      p 金丸らの研究では，ソーシャルメディア上での他者から見た筆者の性格を推定する表層心理推定システムが構築されている．このシステムは性格尺度と心象判断メカニズムから構成される．性格尺度には 3.2 で紹介した Big Three を採用している．性格推定において，Big Three の「外向性」は心象判断メカニズムの「快感情」に，「神経質」は「不快感情」に，「脱抑制」は心象判断メカニズムにおける主体語カテゴリの「社会的尺度」に対応すると仮定している．
      p 金丸らは大量のテキストデータとして自身の Twitter のログデータを用いて実験を行った．まず，テキストデータを文ごとに分割したものを入力データとして感情推定を行った．入力データ数は 25226 件，有効な出力データ数（感情成分の数）は 413 件であった．次に，感情が抽出できた入力文の中でその感情がどの程度の割合を占めるのか計算し，Big Three のパラメータとして扱った．推定結果と第三者が入力データの文章を読んで感じた印象を比較したところ，Big Three の対応結果と第三者が文章から受ける印象には関連性が認められた．

      h2 今後の課題
      p 3.3 で示した現状の表層心理推定システムについて，入力データ数に対して有効な出力データ数が少なすぎるなど，感情判断システムに問題があることが分かった．今後は感情判断システムの正解率向上のため，アルゴリズムの見直しや，入力データに口語表現や顔文字が含まれた場合にも感情推定ができるような改良を行っていく．最終的には対象者の性格を反映した bot による対話システムの構築を目指す．

      h2.nocounter 参考文献
      ol.reference
        li 齋藤安彰, 渡部広一, 河岡司. 自然言語入力に基づく常識的心情判断方式. 情報処理学会研究報告, ICS [知能と複雑系], pp. 91–98, 2006.
        li Lee Anna Clark and David Watson. Temperament: A new paradigm for trait psychology. Handbook of personality: Theory and research, Vol. 2, pp. 399– 423, 1999.
        li 金丸裕亮, 奥村紀之. 感情判断システムを用いた表層心理推定の検討. 情報処理学会第 76 回全国大会, 2014.
