$body-font = 9pt Mincho, sans-serif
$body-line-height = 1.8
$code-font-family = Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', UDMincho, monospace

// JIS A4
$page-width = 210mm
$page-height = 297mm

$page-margin-left = 20mm
$page-margin-right = 20mm
$page-margin-top = 25mm
$page-margin-bottom = 25mm
