//
// 全体
//
*,
*::before,
*::after
  box-sizing: border-box

:root
  font: $body-font
  line-height: $body-line-height
  color: #000000

.front
  margin: 7cm auto 0
  text-align: center

  .pretitle
    font-family: Kakugo
    font-size: 20px

  .title
    font-family: Kakugo
    font-weight: 700
    font-size: 32px
    margin-bottom: 7cm

  .others
    font-size: 18px
    line-height: 2

//
// 見出し
//

h1, h2, h3
  margin-block-start: unset
  margin-block-end: unset
  padding: 0
  break-after: avoid
  font-family: Kakugo
  font-weight: 700

  &::before
    margin-right: 1rem

h1
  page-break-before: always
  margin: 30mm auto 15mm
  padding-top: 0
  font-size: 23pt

  &::before
    display: block
    font-size: 20pt

h2
  margin: 12pt auto 6px
  font-size: 15pt

  &::before
    font-size: 15pt

h3
  margin: 10pt auto 6px
  font-size: 12pt

  &::before
    font-size: 12pt

//
// 段落
//
p
  margin: 0
  text-align: justify
  text-indent: 1em

.right
  text-align: right

.left
  text-align: left

.center
  text-align: center

//
// 打ち消し
//
.del
  text-decoration: line-through

//
// 強調
//
strong
  font-weight: 700

p strong, strong.kakugo
  font-family: Kakugo

//
// リンク
//
a, a:hover, a:focus, a:visited
  color: inherit
  text-decoration: none

//
// インラインソースコード
//
code, kbd, pre, samp
  font-family: $code-font-family
  font-size: 9pt

//
// 脚注
//
span.footnote
  float: footnote
  text-align: left
  font-size: 11px
  font-weight: 300
  text-indent: 0

  &::footnote-call
    vertical-align: 0.3em
    font-size: 10px

  &::footnote-marker
    margin-right: 0.5rem

  a
    text-decoration: none


//
// 図
//
figure
  page-break-inside: avoid
  margin: 10pt auto
  text-align: center

img
  max-width: 100%

figcaption, .figcaption
  font-weight: 300

  &:before
    margin-right: 1rem

//
// 表
//
table
  display: inline-block
  border-collapse: collapse

  tr
    &:first-of-type
      border-top: 2px solid
    &:last-of-type
      border-bottom: 2px solid
    td
      text-align: right
      font: $math-font
    td.left,
    td.center,
    td:first-child
      text-align: left
      font: $body-font
      line-height: $body-line-height
    td.center
      text-align: center
    td.right
      text-align: right

  tr.header
    border-bottom: 1px solid
    th
      text-align: center
      font-weight: 300

  th, td
    padding-right: 12px
    vertical-align: middle
    // vertical-align: top

    &:first-child
      padding-left: 12px

table.nostyle
  tr
    border-top: 0
    border-bottom: 0

caption, .caption
  display: block
  margin-bottom: 3px

  &::before
    margin-right: 1rem

//
// 下線
//
.underline
  display: inline-block
  border-bottom: 1px solid

//
// 引用
//
blockquote
  font-style: oblique
  border-left: 4px solid
  opacity: 0.5
  padding-left: 1rem

//
// 箇条書き
//
ol, ul
  padding-left: 3rem

ol.number
  li
    display: flex
    list-style-type: none
    list-style-position: inside

    &:before
      display: marker
      margin-right: 0.5rem


ol.nostyle,
ul.nostyle
  list-style: none

//
// 参考文献
//
ol.reference
  padding-left: 0

  li
    display: flex
    list-style-type: none
    list-style-position: inside

    &:before
      display: marker
      margin-right: 0.5rem

//
// 目次
//
nav.toc
  > ol // chapterレベル
    padding-left: 0
    list-style: none
    font-family: Kakugo
    font-weight: 700

    a::before
      margin-right: 2rem

    > li
      margin-top: 2px

    > li ol // sectionレベル
      padding-left: 1.8rem
      list-style: none
      font-family: Mincho
      font-weight: 500

      > li ol // subsectionレベル
        padding-left: 3.6rem

  a::after // ページ番号
    float: right

//
// カウントキャンセル
//
.nocounter
  &::before
    content: ""
    margin-right: 0

//
// 数式
//
p[data-math-typeset=true] text
  font-family: Mincho

//
// カラム
//
.column2
  columns: 2

  > *
    display: block
    break-inside: avoid-column

//
// コメント
//
.comment
  font-family: Kakugo
  color: red
