@font-face
  font-family: Mincho
  font-weight: 500
  font-style: normal
  src url("assets/fonts/FOT-TsukuMinPr6N-M.otf")

@font-face
  font-family Kakugo
  font-weight: 500
  font-style: normal
  src url("assets/fonts/Tazugane Gothic StdN Light.otf")

@font-face
  font-family Kakugo
  font-weight: 700
  font-style: normal
  src url("assets/fonts/Tazugane Gothic StdN Medium.otf")

@font-face
  font-family Math
  font-weight: 500
  font-style: normal
  src url("assets/fonts/cmunrm.ttf")

@font-face
  font-family Math
  font-weight: 700
  font-style: normal
  src url("assets/fonts/cmunrb.ttf")
